<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.androy.volleyext.sample.demos"
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- log 를 남기기 위한 권한 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:name="kr.androy.volleyext.sample.demos.application.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
         <provider
            android:name="kr.androy.volleyext.sample.demos.db.DataProvider"
            android:authorities="kr.androy.volleyext.sample.demos" />
         
         
        <activity
            android:name="kr.androy.volleyext.sample.demos.main.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="kr.androy.volleyext.sample.demos.facebook.FaceBookMainActivity" >
        </activity>
        <activity android:name="kr.androy.volleyext.sample.demos.db.SQLiteTestActivity" >
        </activity>      
        <activity android:name="kr.androy.volleyext.sample.demos.db.ormlite.ORMLiteTestActivity" >
        </activity>    
        <activity android:name="kr.androy.volleyext.sample.demos.github.activity.GithubActivity" >
        </activity>
        <activity android:name="kr.androy.volleyext.sample.demos.amazon.activity.AmazonActivity" >
        </activity>
        <activity android:name="kr.androy.volleyext.sample.demos.view.activity.SingleTapZoomNetworkImageViewActivity" >
        </activity>        
        <activity android:name="kr.androy.volleyext.sample.demos.view.activity.DoubleTapZoomNetworkImageViewActivity" >
        </activity>
    </application>
</manifest>